<ion-view title="HOME PAGE" hide-back-button="true" id="page1">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/kIb1NMIIRJmuFr5Qze5X_iPiccy-Design.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="hOMEPAGE-list1">
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="hOMEPAGE-list-item1" ui-sref="nEWS()">
        <img src="img/y1mQQJNLQKeuuzCLeKsd_awani.png">
        <h2assertive>NEWS
          <p>Highlighted latest News</p>
          <i class="icon ion-alert-circled"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right positive" id="hOMEPAGE-list-item2" ui-sref="latestEvent()">
        <img src="img/SsFJNK2oRpGylRoBmE4N_iPiccy-Design_512_512_SOFTICON.jpg">
        <h2positive>EVENTS
          <p>Latest Event</p>
          <i class="icon ion-android-alert"></i>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right positive" id="hOMEPAGE-list-item3">
        <img src="img/8p1rdjRsTyC55yUcpvSH_shopping-cart.png">
        <h2positive>Shopping
          <p>Latest Event</p>
          <i class="icon ion-android-arrow-dropright-circle"></i>
        </h2positive>
      </ion-item>
    </ion-list>
    <a ui-sref="page()" id="hOMEPAGE-button15" class="button button-positive button-block">CONTACT</a>
  </ion-content>
</ion-view>