<ion-view title="NEWS" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/hW5lN9zSnaXi1hNEkeOo_images.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/Tr1hb6GuztQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="nEWS-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h1 id="nEWS-heading1" style="color:#000000;">PRK Cameron Highlands sengit</h1>
    <ion-list id="nEWS-list2">
      <ion-item class="item-avatar" id="nEWS-list-item4">
        <img src="img/AAuE7mDRgaq5P0oqZnED5jzu14wT8tmdCAJk1bRQgQs48-mo-c-c0xffffffff-rj-k-no">
        <h2>Astro Awani</h2>
        <p>Published on Jan 25, 2019</p>
      </ion-item>
    </ion-list>
    <div id="nEWS-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Pilihan Raya Kecil Cameron Highlands yang berlangsung hari ini dijangka sengit.</p>

      <p style="color:#000000;">Bagi Penganalisis Politk Univerisiti Putra Malaysia, Prof Dr Zaid Ahmad berkata, perkara itu berikutan landskap politik yang telah berubah.</p>
    </div>
    <a ui-sref="hOMEPAGE()" id="nEWS-button8" class="button button-positive button-block">Tap me!</a>
  </ion-content>
</ion-view>